* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  line-height: 180%;
  font-size: 18px;
}

.toTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
  background-color: red;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.btn, .ntb {
  display: inline-block;
  color: white;
  font-size: 18px;
  background-color: #4a4a4b;
  padding: 20px 30px;
  transition: all 0.5s;
  position: relative;
  z-index: 0;
}
.btn::after, .ntb::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: red;
  z-index: -1;
  transition: all 0.5s;
}
.btn:hover::after, .ntb:hover::after {
  transform: scaleX(1);
}

.ntb {
  background-color: red;
}
.ntb::after {
  background-color: #4a4a4b;
}

.set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.desc a {
  color: #444444;
  font-size: 24px;
  font-weight: 600;
}
.desc p {
  color: red;
  font-weight: 600;
}

nav {
  box-shadow: 0 0 10px lightgray;
  background-color: white;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9999;
}

.navGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navGrid .imageLogo {
  width: 120px;
}
.navGrid .menu {
  display: flex;
  gap: 30px;
}
.navGrid .menu li {
  height: 80px;
  position: relative;
}
.navGrid .menu li .hot {
  position: absolute;
  left: 80%;
  top: 15%;
  background-color: red;
  color: white;
  border-radius: 7px;
  font-size: 10px;
  font-weight: 600;
  padding: 4px 7px;
  box-shadow: 0 3px 5px lightgray;
}
.navGrid .menu li:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navGrid .menu li .submenu {
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px lightgray;
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(-10px);
  background-color: white;
  padding: 20px 0;
  z-index: 9999;
}
.navGrid .menu li .submenu li {
  height: auto;
  z-index: 999;
}
.navGrid .menu li .submenu li a {
  padding: 10px;
}
.navGrid .menu li .submenu .red {
  position: absolute;
  width: 100%;
  background-color: red;
  height: 2px;
  left: 0;
  top: 0;
  border-radius: 10px 10px 0 0;
}
.navGrid .menu li .submenu .red::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  transform: rotateZ(45deg) translateY(-50%);
  position: absolute;
  left: 15%;
  top: 0;
  z-index: -1;
}
.navGrid .menu a {
  display: flex;
  align-items: center;
  height: 100%;
  color: black;
  font-weight: 600;
  transition: all 0.5s;
}
.navGrid .menu a:hover {
  color: red;
}
.navGrid .navIcons {
  display: flex;
  gap: 10px;
}
.navGrid .navIcons a {
  color: black;
}
.navGrid .navIcons a:hover {
  color: red;
}

.wraper {
  display: none;
  text-align: center;
}

.iconMenu:hover ul {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
}
.iconMenu a {
  color: black;
  transition: all 0.5s;
}
.iconMenu a:hover {
  color: red;
}
.iconMenu ul {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform-origin: top;
  transform: rotateX(90deg);
  position: absolute;
  left: 0;
  top: 65px;
  width: 100%;
  background-color: white;
  padding: 20px;
  font-weight: 600;
}
.iconMenu ul li {
  padding: 5px;
}

@media (max-width: 1200px) {
  nav {
    padding: 20px 80px;
  }
}
@media (max-width: 992px) {
  nav .navGrid .menu {
    display: none;
  }
  .wraper {
    display: block;
  }
  .toTop {
    left: 80px;
    bottom: 30px;
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  nav {
    padding: 20px;
  }
  nav .navGrid .navIcons a i {
    font-size: 12px;
  }
}
h1 {
  color: #0b1c39;
  font-size: 90px;
}

header {
  background-color: #f0f0f2;
}
header .headerFlex {
  display: flex;
}

.headerText {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.headerText p {
  padding: 40px 80px 40px 0;
}

.headerImage {
  width: 30%;
}
.headerImage img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  header {
    padding: 20px 80px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .headerImage {
    display: none;
  }
  .headerText {
    width: 100%;
  }
  .headerText p {
    padding: 20px 0;
  }
  header {
    padding: 20px;
  }
}
section {
  padding: 80px 0;
}

h2 {
  font-size: 44px;
}

.newGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.newGrid .new:hover img {
  transform: scale(1.1);
}
.newGrid .new .imageNew {
  overflow: hidden;
}
.newGrid .new .imageNew img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  .pad {
    padding: 20px 80px;
  }
  .newGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .newGrid {
    display: block;
    margin-top: 20px;
  }
  .pad h2 {
    font-size: 24px;
    text-align: center;
  }
  .pad {
    padding: 20px;
  }
}
.galleryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "first first second third" "first first second forth";
  gap: 20px;
}
.galleryGrid .imageGal:nth-of-type(1) {
  grid-area: first;
}
.galleryGrid .imageGal:nth-of-type(2) {
  grid-area: second;
}
.galleryGrid .imageGal:nth-of-type(3) {
  grid-area: third;
}
.galleryGrid .imageGal:nth-of-type(4) {
  grid-area: forth;
}

.imageGal {
  overflow: hidden;
}
.imageGal:hover img {
  transform: scale(1);
}
.imageGal img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.2);
  transition: all 0.5s;
}

@media (max-width: 992px) {
  .galleryGrid {
    grid-template-areas: "first first second second" "third third forth forth";
  }
  .galleryGrid .imageGal {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .imageGal img {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .galleryGrid {
    display: block;
  }
  .galleryGrid .imageGal {
    margin: 10px;
  }
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading p {
  text-align: center;
  width: 50%;
  padding: 20px 0;
  color: gray;
  font-size: 16px;
}

.popGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 50px 0;
}
.popGrid .popItem .popImage {
  position: relative;
  border-bottom: 3px solid red;
  overflow: hidden;
}
.popGrid .popItem .popImage img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popGrid .popItem .popImage .add {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.popGrid .popItem .popImage .heart {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: #333333;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.popGrid .popItem:hover .add {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.popGrid .popItem:hover .heart {
  opacity: 1;
  visibility: visible;
}
.popGrid .popItem .desc p {
  color: #444444;
}

.last {
  text-align: center;
}

@media (max-width: 1200px) {
  .popGrid {
    margin: 0 80px;
  }
  .desc a {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .popGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading h2 {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .popGrid {
    display: block;
  }
}
.video {
  height: 700px;
  position: relative;
}
.video:hover .play {
  transform: scale(1.1);
}
.video img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.video .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  font-size: 30px;
  color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.video .play:hover {
  color: red;
  background-color: white;
}
.video .next {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px 100px;
  background-color: red;
  display: flex;
  gap: 40px;
  align-items: center;
  color: white;
}
.video .next a {
  color: white;
  font-size: 26px;
}

@media (max-width: 1200px) {
  .video {
    height: 500px;
  }
}
@media (max-width: 992px) {
  .video {
    height: 350px;
  }
}
@media (max-width: 768px) {
  .video .next {
    padding: 20px 50px;
  }
}
@media (max-width: 600px) {
  .video .play {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  .video .next {
    padding: 10px 25px;
  }
}
.watchGrid {
  display: flex;
  gap: 60px;
  margin-bottom: 40px;
}
.watchGrid .watchText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  gap: 30px;
}
.watchGrid .watchText p {
  color: gray;
}
.watchGrid .watchImage {
  width: 50%;
}
.watchGrid .watchImage img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reverse {
  flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .watchGrid {
    margin: 0 80px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
    white-space: nowrap;
  }
  .watchGrid {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .watchGrid .watchText {
    align-items: center;
    width: 100%;
  }
  .watchGrid .watchText p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .ntb {
    white-space: nowrap;
  }
}
.foot1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  background-color: red;
}
.foot1 .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 30px;
}
.foot1 i {
  font-size: 30px;
  color: white;
  padding-bottom: 10px;
}
.foot1 h2 {
  font-size: 22px;
  color: white;
}
.foot1 p {
  color: #d3d1d1;
}

.foot2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 100px 0;
}
.foot2 img {
  width: 130px;
}
.foot2 p {
  color: gray;
  padding: 20px 80px 0 0;
  font-size: 16px;
}
.foot2 .div1 {
  grid-column: 2 span;
}
.foot2 h2 {
  font-size: 18px;
  padding-bottom: 20px;
}
.foot2 li {
  padding: 10px 0;
}
.foot2 a {
  color: gray;
  transition: all 0.5s;
}
.foot2 a:hover {
  color: red;
  padding-left: 5px;
}

.foot3 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.foot3 p {
  color: gray;
  font-size: 16px;
}
.foot3 p i {
  color: red;
}
.foot3 p a {
  color: red;
}
.foot3 .footIcons {
  display: flex;
  gap: 20px;
}
.foot3 .footIcons a {
  color: #222222;
  transition: all 0.5s;
}
.foot3 .footIcons a:hover {
  transform: rotateY(180deg);
  color: red;
}

@media (max-width: 1200px) {
  .foot1,
  .foot2,
  .foot3 {
    padding: 20px 80px;
  }
}
@media (max-width: 992px) {
  .foot1 h2,
  .foot2 h2 {
    font-size: 16px;
  }
  .foot2 p {
    font-size: 14px;
  }
  .foot3 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .foot1 .col1 {
    padding: 0;
  }
  .foot1 {
    gap: 5px;
  }
}
@media (max-width: 768px) {
  .foot1 {
    display: block;
  }
  .foot2 {
    display: block;
    padding-bottom: 20px;
  }
  .foot2 a {
    font-size: 14px;
  }
  .foot2 h2 {
    padding: 10px 0;
  }
  .foot3 p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .foot1 {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */